.experiences{
    background-color: #000;
}
/* ****************single Experience style************* */
.cardExperienceTitle{
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
}
.cardExperience{
    color: #FFF;
    background-color: #08090b;
    text-align: left;
}
.cardPeriod{
    padding-top: 9px;
    font-size: 14px;
    color: #ced4da;
}
.cardDescription{
    margin-bottom: revert;
    font-size: 16px;
    color: #adb5bd;
}