@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;800&display=swap');
.App {
  text-align: center;
  background-color: #08090b;
  color: #e2e2e2;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}
.subTitle{
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
}
.subTitleUnderline{
  padding-bottom: 10px;
  border-bottom: 3px solid #198754;
}
p{
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* //pour un style a mes element de navigation */
.navbar-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
